/* Hide */
.interact, #eyebrowsBanner, #trackback, #masthead, #headerNav, #blogHeader, #rightCol, #topHTML, form, script, iframe, .hotspot, .window, .articleFeedback, table, .navigation, #rubics-b2btr1, .contentStatus, .contentTools, #footFeedback, #footFeedback, #footCnet, #footCopyright a, #footCopyright span, .imgNav, .morePhotos, .storyOptions, .cmntBox, #preFooter, .dirViewOptions, .dirList {
display: none;
}

* {
background: none;
}

body, #leftCol, #content, #leftCol, .dirView, .entry, #main, #goiter, #width {
font-size: 12pt;
font-family: Georgia, "Times New Roman", Times, serif;
margin: 0 !important;
padding: 0 !important;
width: auto;
float: none !important;
}

a {
text-decoration: none;
color: #000;
}

div, p {
page-break-inside: avoid;
}

.row1 div div, .row2 div div {
margin: 0 0 10px 0;
}

h1 {
font-size: 2em;
}

h2 a {
display: block;
font-size: 1.5em;
}

.row1 div h2 a, .row2 div h2 a {
font-size: 1em;
}

ul {
margin: 0;
padding: 0;
}

li {
list-style: none;
}

#entry a:link:after, #entry a:visited:after {
content: " (" attr(href) ") ";
font-size: 90%;
}
   


/*
     FILE ARCHIVED ON 13:29:30 Feb 15, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:06:41 May 24, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 117.908
  exclusion.robots: 0.178
  exclusion.robots.policy: 0.164
  RedisCDXSource: 5.843
  esindex: 0.01
  LoadShardBlock: 90.325 (3)
  PetaboxLoader3.datanode: 83.43 (4)
  CDXLines.iter: 16.735 (3)
  load_resource: 64.789
  PetaboxLoader3.resolve: 46.73
*/